<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Verkoop | Inicio</title>


    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/core-style.css" rel="stylesheet" />
    <link href="~/Assets/css/libreria-verkoop.css" rel="stylesheet" />
    <link href="~/Assets/css/style.css" rel="stylesheet" />

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div class="search-wrapper section-padding-100">
        <div class="search-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-content">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type your keyword...">
                            <button type="submit"><img src="~/Assets/img/core-img/search.png" alt=""></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        <!-- Header Area Start -->
        <header class="header-area clearfix">
            <div class="-fixed">
                <!-- Close Icon -->
                <div class="nav-close">
                    <i class="fa fa-close" aria-hidden="true"></i>
                </div>
                <!-- Logo -->
                <div class="logo">
                    <a href=""><img class="tamañologo" src="~/Assets/img/core-img/logoVerkoop.png" alt=""></a>
                </div>
                <!-- Amado Nav -->
                <!-- Cart Menu -->
                <div class="cart-fav-search mb-100">
                    @RenderSection("Opciones")
                    <a href="#" class=""><img src="~/Assets/img/core-img/icono-salir.svg" alt=""> Salir</a>
                </div>
            </div>
        </header>

        @RenderBody()
    </div>
    <div id="ModalPrincipal" class="modal" role="dialog"></div>
    <div id="ModalDetalles" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"></div>

    <script src="~/Assets/Librerias/jQuery/jquery-3.3.1.min.js"></script>
    <script src="~/Assets/Librerias/jQueryValidate/jquery.validate.min.js"></script>
    <script src="~/Assets/Librerias/Boostrap/bootstrap.min.js"></script>
    <script src="~/Assets/Librerias/SweetAlert/sweetalert2.min.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
