<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            @RenderSection("Titulo", false)
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            @RenderBody()
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cerrar</button>
            @RenderSection("Pie", false)
        </div>
    </div>
</div>
