
@{
    ViewBag.Title = "InformacionPersonal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Opciones {
    <a href="#" class="fav-nav -azul-cielo"><img src="~/Assets/img/core-img/icono-producto.svg" alt=""> Productos</a>
    <a href="carrito.html" class="cart-nav">
        <img src="~/Assets/img/core-img/icono-carrito.svg" alt=""> Carrito<span>(0)</span>
    </a>
    <a href="compras.html" class="fav-nav"><img src="~/Assets/img/core-img/icono-compra.svg" alt="">Compras</a>
    <a href="nuevoperfil.html" class=""><img src="~/Assets/img/core-img/icono-usuario-azul.svg" alt=""> Perfil</a>
}

<div class="-width-35pst">
    <div class="-fixed -height-100pst -ColorBarra -width-35pst">

        <div class="widget catagory ">

            <div>
                <img class="-FotoPerfil" src="~/Assets/img/core-img/perfil1.jpg" alt="">
            </div>


            <div class="-width-100pst -text-center">
                <h6> PamelaCastro@gmail.com </h6>
            </div>

        </div>

        <div class="widget catagory -padding5pst -paddingEspacio">
            <div class="catagories-menu -margin1">
                <ul>
                    <li class="active"><a href="nuevoperfil.html">Información personal</a></li>
                    <br>
                    <li ><a href="CambiarContraseña.html">Cambiar contraseña</a></li>
                    <br>
                    <li><a href="Perfildirecciones.html">Direcciones</a></li>
                    <br>
                    <li><a href="Perfiltarjetas.html">Tarjetas</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="amado_product_area ">
    <div class="container-fluid ">
        <div class="-flex-between-center ">
            <div class="row ">               
                <div class="single-product-wrapper -padingContenedor2 ">
                    <div class="row justify-content-md-center ">

                        <div class="col-md-10 -margin1">
                            <h2>Información personal.</h2>
                            <br>
                            <br>
                        </div>

                        <div class="row justify-content-md-center">
                            <div class="col-md-10">

                                <input type="text" class="form-control" id="Nombre" placeholder="Pamela">
                                <br>
                            </div>

                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="Apellido paterno">
                                <br>
                            </div>

                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="Apellido materno">
                                <br>
                            </div>

                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="Número telefónico">
                                <br>
                            </div>
                        </div>

                        <div class="-padding-r4pst -margin3">
                            <button class="btn amado-btn ml-30">Guardar</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
