
@{
    ViewBag.Title = "DetallesProductos";
    Layout = "~/Views/Shared/_ModalDetalles.cshtml";
}

@model Verkoop.CapaDatos.DTO.DetallesProductoDTO

@section Titulo{
    <h4>Detalles producto.</h4>
}

<div class="row">
    <div class="col-12 col-lg-7">
        <div class="single_product_thumb">
            <div id="product_details_slider" class="carousel slide" data-ride="carousel">

                @*<div class="carousel-inner">*@
                @*<div class="carousel-item active">*@
                <a class="gallery_img" href="~/Assets/img/product-img/pro-big-1.jpg">
                    <img class="d-block w-100" src="~/Assets/img/product-img/pro-big-1.jpg"
                         alt="First slide">
                </a>
                @*</div>*@
                @*</div>*@
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-5">
        <div class="single_product_desc">

            <div class="product-meta-data">
                <div class="line"></div>

                <h3 class="-letranegrita">@Html.DisplayFor(model => model.cNombre)</h3>

                <p class="avaibility"> En Stock</p>
            </div>

            <div class="short_overview -TextoDetalleProducto  ">
                <p>
                    @Html.DisplayFor(model => model.cDescripcionProducto)
                </p>
            </div>

            <h4 class="product-price">@Html.DisplayFor(model => model.cPrecioProducto)</h4>

            @if (Model.iCantidad > 0)
            {

                <form class="cart clearfix" method="post">                   
                    <button idProducto="@Model.iIdProducto" type="submit" name="addtocart" value="5" class="btn amado-btn">
                        Agregar al carrito
                    </button>
                </form>
            }
            else
            {
                <p>¡Agotado!</p>
            }

        </div>
    </div>
</div>




@section Pie{
}

