
@{
    ViewBag.Title = "DetallesProductos";
    Layout = "~/Views/Shared/_ModalDetalles.cshtml";
}

@section Titulo{
    <h4>Detalles producto.</h4>
}

<div class="row">
    <div class="col-12 col-lg-7">
        <div class="single_product_thumb">
            <div id="product_details_slider" class="carousel slide" data-ride="carousel">

                @*<div class="carousel-inner">*@
                    @*<div class="carousel-item active">*@
                        <a class="gallery_img" href="~/Assets/img/product-img/pro-big-1.jpg">
                            <img class="d-block w-100" src="~/Assets/img/product-img/pro-big-1.jpg"
                                 alt="First slide">
                        </a>
                    @*</div>*@
                @*</div>*@
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-5">
        <div class="single_product_desc">

            <div class="product-meta-data">
                <div class="line"></div>

                <h3 class="-letranegrita">Silla moderna blanca.</h3>

                <p class="avaibility"> En Stock</p>
            </div>

            <div class="short_overview -TextoDetalleProducto  ">
                <p>
                    Contemporáneo juego de sillas de comedor con garantía de satisfacción 100% y servicio post-venta.
                    Funda de plástico moldeado en acabado mate, forma ergonómica y cómodo asiento curvado.
                    La altura del asiento desde el piso es de 16,5 pulgadas, el tamaño detallado de la imagen se muestra en el sitio web.
                </p>
            </div>

            <h4 class="product-price">$180</h4>


            <form class="cart clearfix" method="post">
                <div class="cart-btn d-flex mb-15">
                    <div>   
                                <input type="number" class=" -AlinearBotondeDetalles" id="qty" step="1" min="1" max="200"
                                       name="quantity" value="1">
                    </div>
                </div>
                <button type="submit" name="addtocart" value="5" class="btn amado-btn">
                    Agregar al carrito
                </button>
            </form>

        </div>
    </div>
</div>




@section Pie{
}

