
@{
    ViewBag.Title = "Principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Opciones{

    <a href="#" class="fav-nav -azul-cielo"><img src="~/Assets/img/core-img/icono-producto-azul.svg" alt=""> Productos</a>
    <a href="carrito.html" class="cart-nav">
        <img src="~/Assets/img/core-img/icono-carrito.svg" alt=""> Carrito<span>(0)</span>
    </a>
    <a href="compras.html" class="fav-nav"><img src="~/Assets/img/core-img/icono-compra.svg" alt="">Compras</a>
    <a href="nuevoperfil.html" class=""><img src="~/Assets/img/core-img/icono-usuario.svg" alt=""> Perfil</a>
}



<div class="-width-35pst">

    <div class="-fixed -height-100pst -ColorBarra -width-35pst">

        <div class="widget catagory -padding5pst ">

            <h5 class="-paddingEspacio2">Filtros</h5>

            <div class="catagories-menu -AlingFiltros  -margin1">
                <ul>
                    <li><a href="#">Recientes</a></li>
                    <li><a href="#">Más vendidos</a></li>
                </ul>
            </div>

            <h6 class="widget-title mb-30">Categorías</h6>

            <div class="catagories-menu -margin1">
                <ul>
                    <li class="active"><a href="#">Todos</a></li>
                    <li><a href="#">Jardín</a></li>
                    <li><a href="#">Hogar</a></li>
                    <li><a href="#">Electrónica</a></li>
                    <li><a href="#">Deportes</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>




<div class="amado_product_area -padding-9pst ">

    <div class="container-fluid">
        <div class="-flex-between-center -width-100pst -padding-t3pst">

            <div class="-width-100pst -flex">
                <input class="-input-busqueda -width-100pst" type="search" placeholder="Buscar">
                <button class="-boton-icono"><img src="~/Assets/img/core-img/icono-buscar.svg" alt=""></button>
            </div>

        </div>
    </div>
    <!-- Comienza el contenido de los productos. -->
    <div class="row -padding15pst">

        @Html.Partial("_Producto")


    </div>
    <!-- Termina vista de productos. -->

</div>

