
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos{
    <style>
        #Producchartdiv {
            width: 100%;
            height: 500px;
        }

        #CategoriaChartdiv {
            width: 100%;
            height: 500px;
        }

        #chartdiv {
            width: 100%;
            height: 500px;
        }
    </style>
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
}

<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-info card-round">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="fas fa-users"></i>
                        </div>
                    </div>
                    <div class="col-7 col-stats">
                        <div class="numbers">
                            <p class="card-category">Clientes</p>
                            <h4 class="card-title">@ViewData["TClientes"]</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-primary card-round">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="fas fa-cubes"></i>
                        </div>
                    </div>
                    <div class="col-7 col-stats">
                        <div class="numbers">
                            <p class="card-category"> Productos </p>
                            <h4 class="card-title">@ViewData["TProducto"]</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-secondary card-round">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="fas fa-chart-line"></i>
                        </div>
                    </div>
                    <div class="col-7 col-stats">
                        <div class="numbers">
                            <p class="card-category">Ventas</p>
                            <h4 class="card-title">@ViewData["TVentas"]</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-success card-round">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="fas fa-coins"></i>
                        </div>
                    </div>
                    <div class="col-7 col-stats">
                        <div class="numbers">
                            <p class="card-category">Ingreso Total</p>
                            <h4 class="card-title">$ @ViewData["TIngresos"] </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <div class="card-head-row">
                    <div class="card-title">User Statistics</div>
                    <div class="card-tools">
                        <button class="btn btn-icon btn-link btn-primary btn-xs btn-refresh-card"><span class="fa fa-sync-alt"></span></button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="Producchartdiv"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">Categorías</div>
            </div>
            <div class="card-body">
                <div id="CategoriaChartdiv"></div>
            </div>
        </div>
    </div>
</div>
<div class="row row-card-no-pd">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-head-row card-tools-still-right">
                    <h4 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Top Clientes</font></font></h4>
                    <div class="card-tools">
                        <button class="btn btn-icon btn-link btn-primary btn-xs"><span class="fa fa-angle-down"></span></button>
                        <button class="btn btn-icon btn-link btn-primary btn-xs btn-refresh-card"><span class="fa fa-sync-alt"></span></button>
                        <button class="btn btn-icon btn-link btn-primary btn-xs"><span class="fa fa-times"></span></button>
                    </div>
                </div>
                <p class="card-category">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Clientes Mas Destacados.
                        </font>
                    </font>
                </p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div id="chartdiv"></div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Scripts/graficas.js"></script>
}