
@{
    ViewBag.Title = "CarritoCompras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Opciones {
    <a href="#" class="fav-nav -azul-cielo"><img src="~/Assets/img/core-img/icono-producto.svg" alt=""> Productos</a>
    <a href="carrito.html" class="cart-nav">
        <img src="~/Assets/img/core-img/icono-carrito-azul.svg" alt=""> Carrito<span>(0)</span>
    </a>
    <a href="compras.html" class="fav-nav"><img src="~/Assets/img/core-img/icono-compra.svg" alt="">Compras</a>
    <a href="nuevoperfil.html" class=""><img src="~/Assets/img/core-img/icono-usuario.svg" alt=""> Perfil</a>
}

<!--Comienza listado de productos-->
<div class="cart-table-area section-padding-50">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="cart-title mt-50">
                    <h2>Carrito de compras.</h2>
                </div>
                <div class="cart-table clearfix" id="ContenedorProductos">
                   
                          @Html.Partial("_ProductoCarrito")
                        
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="cart-summary">
                    <h5>Total en carrito</h5>
                    <ul class="summary-table">
                        <li><span>subtotal:</span> <span>$140.00</span></li>
                        <li><span>Envío:</span> <span>Gratis</span></li>
                        <li><span>Total:</span> <span>$140.00</span></li>
                    </ul>
                    <div class="container">
                        <div class="-flex-center-center">

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                       id="inlineRadio1" value="Paypal">
                                <img src="~/Assets/img/core-img/paypal.svg">
                                <label class="form-check-label" for="inlineRadio1"></label>
                            </div>
                            <div class="-formaDePago-l4px form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                       id="inlineRadio2" value="Tarjeta">
                                <img src="~/Assets/img/core-img/tarjeta.svg">
                                <label class="form-check-label" for="inlineRadio2"></label>
                            </div>

                        </div>

                    </div>
                    <div class="cart-btn mt-50">
                        <a class="btn amado-btn w-100 disabled" id="btnPagar">Pagar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>@section scripts{
    <script src="~/Scripts/UtileriaVerkoop.js"></script>
    <script src="~/Scripts/ProductoCarrito.js"></script>
    <script src="~/Scripts/CarritoHerramientas.js"></script>
}

