
@{
    ViewBag.Title = "InicioSesion";
    Layout = "~/Views/Shared/_SesionLayout.cshtml";
}
    <title class="-padding-t10pst">Verkoop | Inicio Sesión</title>

<link href="~/Assets/css/Verkoop.css" rel="stylesheet" />

<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                <form class="login100-form validate-form flex-sb flex-w" id="FormInicioSesion">
                    <span class="login100-form-title p-b-32">
                        Inicio de Sesión
                    </span>

                    <span class="txt1 p-b-11">
                        Correo electrónico
                    </span>
                    <div class="wrap-input100 validate-input m-b-36" data-validate="Correo electrónico requerido">
                        <input class="input100" id="cCorreo" type="email" name="cCorreo">
                        <p id="cMensaje"></p>
                        <span class="focus-input100"></span>
                    </div>

                    <span class="txt1 p-b-11">
                        Contraseña
                    </span>
                    <div class="wrap-input100 validate-input m-b-12" data-validate="La contraseña es requerida">
                        <input class="input100" id="cContrasenia" type="password" name="cContrasenia">
                        <p id="cMensaje2"></p>
                        <span class="focus-input100"></span>
                    </div>
                    <div class="Margen-boton">
                        <div class="container-login100-form-boton">
                            <button id="btnIniciarSesion" type="button" class="login100-form-boton MLogin">
                                Iniciar sesión
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

@section scripts{
    <script src="~/Assets/js/popper.min.js"></script>
    <script src="~/Assets/js/sweetalert2.all.min.js"></script>

    <script src="~/Scripts/UtileriaVerkoop.js"></script>
    <script src="~/Scripts/IniciarSesion.js"></script>
}