
@{
    ViewBag.Title = "ComprasRealizadas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Opciones {
    <a href="#" class="fav-nav -azul-cielo"><img src="~/Assets/img/core-img/icono-producto.svg" alt=""> Productos</a>
    <a href="carrito.html" class="cart-nav">
        <img src="~/Assets/img/core-img/icono-carrito.svg" alt=""> Carrito<span>(0)</span>
    </a>
    <a href="compras.html" class="fav-nav"><img src="~/Assets/img/core-img/icono-compra-azul.svg" alt="">Compras</a>
    <a href="nuevoperfil.html" class=""><img src="~/Assets/img/core-img/icono-usuario.svg" alt=""> Perfil</a>
}

<!--Comienza listado de productos-->
<div class="cart-table-area section-padding-50">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-30">
                <div class="cart-title mt-30">
                    <h2>Compras Realizadas.</h2>
                </div>
                @Html.Partial("_ComprasRealizadas")

            </div>
        </div>
    </div>
</div>


@section scripts{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
}